body, html {
  height: 100%;
}

body {
  background-color: #05302C;
  background-image: url("../imgs/pattern.png");
  background-repeat: repeat;
  background-size: 300px auto;
  background-position: center 30px;
  background-origin: 50px 0px;
  text-align: center;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  body {
    background-image: url("../imgs/pattern@2x.png");
  }
}

#landing-gradient {
  background: linear-gradient(rgba(5, 48, 44, 0.0) 50px, rgba(5, 48, 44, 1.0) 500px);
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.landing-wrapper {
  margin: 0 auto;
  text-align: left;
  max-width: 100%;
}
@media only screen and (min-width: 576px) { .landing-wrapper { max-width: 540px; } }
@media only screen and (min-width: 768px) { .landing-wrapper { max-width: 720px; } }
@media only screen and (min-width: 992px) { .landing-wrapper { max-width: 960px; } }
@media only screen and (min-width:1200px) { .landing-wrapper { max-width:1140px; } }

header {
  width: 100%;
  text-align: center;
}

header img {
  max-height: 138px;
  max-width: 80%;
  margin-top: 2rem;
  display: inline-block;
}

.pageapp-login {
  margin-top: 2rem;
  padding: 1rem 2rem 2rem;
  background: rgba(0, 0, 0, 0.4);
}

.landing-login-button {
  text-align: center;
  margin-top: 2rem;
  color: white;
}
